
body {
    background: url(https://image.tmdb.org/t/p/w500/pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg);
    background-repeat: no-repeat;
}

img {
    width: 100px;
    height: auto;
}

img:hover {
    width: 150px;
    height: 150px;
    border: 10px solid brown;
    border-radius:  5em/5em;

}